*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Gilriy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.orginal-btn{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #76A713;
    transition: 0.3s all ease;
}
.orginal-btn:hover{
    transform: scale(1.1);
}


/* Header top */

.header__top{
    border-bottom: 1px solid #eeeeee;
}

.header-top__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 16px;
}

.header__addr{
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    font-style: normal;
}

.header__addr-text{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header__addr-text::before{
    content: "";
    width: 14px;
    height: 16px;
    display: block;
    background-image: url("./../images/lokatsiya.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.header__addr-email{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
}

.header__addr-email::before{
    content: "";
    width: 20px;
    height: 16px;
    display: block;
    background-image: url("./../images/email.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.header-top__right{
    display: flex;
    align-items: center;
}

.header-top__right-langs{
    outline: 0;
    appearance: none;
    width: 57px;
    border: none;
    background-image: url("./../images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center right;
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
}

.header-top__right__socials{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 31px;
}

.socials__content:not(:last-child) {
    margin-right: 20px;
}

/* Header bottom */

.header-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-bottom__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    display: block;
    width: 217px;
    height: 50px;
}

.header-bottom__navigation{
    max-width: 650px;
    display: flex;
    align-items: center;
}

.nav{
    margin-right: 48px;
    display: flex;
}

.nav__link{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    margin-right: 34px;
    white-space: nowrap;
}

.nav__link:last-child{
    margin-right: 0;
}

.link-active{
    color: #76a713;
}

.login-btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px 30px;
    background-color: #76a713;
    text-decoration: none;
}

.login__button{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 10px 30px;
    background-color: #76a713;
    text-decoration: none;
}

.search__btn{
    border: none;
    background-image: url("./../images/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    background-color: #eeeeee;
    margin: 0 10px;
    padding: 20px;
}

.korzinka{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    background-color: #eeeeee;
}

.korzinka__image{
    position: absolute;
    top: 17px;
    left: 13px;
}

.korzinka__value{
    position: absolute;
    top: 8px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 13px;
    background-color: #76a713;
    color: #ffffff;
    font-size: 8px;
    line-height: 10px;
    font-weight: 600;
    border-radius: 50%;
}
/* and off header */


.main{
    background: rgba(118, 167, 19, 0.31);
    padding: 82px 0 178px 0;
}
.for_btn{
    position: relative;
}
.scroll_buttons_after{
   border: none;
   padding: 15px;
   background-color: #76A713;
   cursor: pointer;
   position: absolute;
   top: 240px;
   left: -57px;
   border: 1px solid #76A713;
}

.scroll_buttons_before{
    border: none;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 240px;
    right: -57px;
    border: 1px solid #76A713;
 }
.scroll_buttons_after img{
    
}

.main-item{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.main-item__title h1{   
    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    line-height: 110px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.main-item__title h1 span{
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 74px;
    text-transform: uppercase;
    color: #76A713;
    margin-bottom: 1px;
}
.main-item__btn a{
    padding: 15px 38px;
}

            /* and of main */


.high_quality{

}    
.high_quality__inner{
    position: relative;
}        
.high_quality__top{
    padding: 70px 0;
    border: 1.5px solid #ddd;
    background-color: #fff;
    position: absolute;
    top: -297px;
    left: 0;
}
.high_quality__top_lists{
    display: flex;
    justify-content: space-between;
}

.high_quality__top__link{
    display: flex;
    align-items: center;
}
.high_quality__top__link img{
    margin-right: 20px;
}
.for_1{
    margin-left: 15px;
}
.high_quality__top__link{
    margin-right: 30px;
    padding-right: 37px;
    border-right: 1px solid #ddd;
}
.high_quality__top__link:last-child{
    border-right: none;
    margin-right: 0;
}
.high_quality__top__text .title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-bottom: 6px;
}
.high_quality__top__text .subtitle{
    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.high_quality__items{
    display: flex;
    margin-top: 177px;
    margin-bottom: 100px;
}
.high_quality__items img{
    margin-right: 22px;
    margin-top: 20px;
}

.high_quality__items__card__img{
    margin-right: 3px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
}
.high_quality__items__card__text{
    width: 268px;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.03em;
    color: #76A713;
    border: 1.5px dashed rgba(118, 167, 19, 0.5);
    padding: 13px 54px;
}
.high_quality__items__card__text span{
    font-size: 37px;
}

.high_quality__items__desc__title{
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 89px;
    text-transform: uppercase;
    margin-bottom: 39px;
}
.high_quality__items__desc__title span{
    margin-bottom: 20px;
}

.high_quality__items__desc__subtitle{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #888888;
    margin-bottom: 35px;
}

.high_quality__items__desc__text{
    font-family: Gilroy;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #AAAAAA;
    margin-bottom: 7px;
    padding-left: 20px;
    border-left: 2px solid #76A713;
}
.high_quality__items__desc__name{
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 5px;
}
.high_quality__items__desc__job{
    font-size: 13px;
    line-height: 140%;
    color: #AAAAAA;
}

/* <<<<<<<and off high_quality>>>>>>>> */
.vegetables{
    margin: 100px 0 100px 0;
}
.vegetables__items{
    display: flex;
    justify-content: space-between;
}

.vegetables__item{
    position: relative;
    border: 1px solid #76A713;
    margin-right: 30px;
}
.vegetables__item:last-child{
    margin-right: 0;
}

.vegetables__item_img1{
    /* position: absolute; */
    padding: 23px 32px 1px 35px;
}

.vegetables__item_img2{
    padding: 25px 59px 14px 59px;
}

.vegetables__item_img3{
    padding: 11px 32px 0px 32px;
}

.vegetables__item_img4{
    padding: 30px 78px 18px 79px;
}

.vegetables__item-title{
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #76A713;
    text-align: center;
    margin-bottom: 13px;
}

.vegetables__item-subtitle{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #888888;
    margin-bottom: 97px;
    padding: 0 23px 0 23px;
}
.vegetables__item-link{
    position: absolute;
    bottom: 30px;
    left: 75px;
}

.vegetables__item a{
    display: inline-block;
    text-align: center;
    padding: 10px 17px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #76A713;
    
}

.vegetables__item-icon img{
    display: flex;
    align-items: center;
    border: 1px solid #76A713;
    padding: 15px 12px;
    position: absolute;
    bottom: 30px;
    left: 115px;
}





/* <<<<<<<and off vaegatables>>>>>>>> */
.advantages{
    margin-bottom: 100px;
}

.advantages_item{
    display: flex;
}

.advantages_left{
    width: 50%;
    background-color: #76A713;
}
.advantages_left__img,.advantages_right__img{
    display: flex;
    position: relative;
}
.advantages_left__desc , .advantages_right__desc{
    padding-top: 46px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 40px; 
}
.advantages_left__desc__stock , .advantages_right__desc__stock{
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF; 
}
.advantages_left__desc__title,.advantages_right__desc__title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;  
    margin-bottom: 29px;
}

.advantages_left__desc__btn,.advantages_right__desc__btn{
    font-family: 'Gilroy';
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #FF6600;
    padding: 11px 18px;
}
.advantages_left__img img{
    position: absolute;
    bottom: 0;
    top: 15px;
}
.advantages_right__desc__btn{
    background-color: #76a713;
}

.advantages_right{
    width: 50%;
    background-color: #FF6600;
}





















