*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Gilriy", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.special_container{
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.orginal-btn{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #76A713;
    transition: 0.3s all ease;
}
.orginal-btn:hover{
    transform: scale(1.1);
}

